html {
  font-size: 50px;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  
  background: #F4F4F4;
}

body {
  font-size: .28rem;
}

#root {
  height: 100%;
  margin: 0 auto;
  max-width: 750px;
}

div,
section,
header,
footer,
main {
  box-sizing: border-box;
}