body {
    margin: 10px auto;
    background: cyan;
    max-width: 800px;
    font-size: 10px;
    font-weight: 600;
    color: white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }

  #imgBox {
    height: 400px;
    width: 400px;
    /* background: url('../public/logo.png'); */
    background-size: contain;
  }