$blue = #3190e8; 

ct()
  top 50%
  position absolute
  transform translateY(-50%)
	
wh($width, $height)
  width $width
  height $height

center()
	position absolute
	top 50%
  left 50%
  transform translate(-50%, -50%)

sc($size, $color)
	font-size $size
	color $color


