// {
//     "presets":["@babel/preset-env"]
// }

{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "debug": true
        }
      ]
    ]
  }
  
