<%- include("header")%>
<form action="/login" method="post" name="loginForm">
  <input type="text" name="name" />
  <input type="password" name="pwd" />
  <input type="submit" value="登录" />
</form>
<%- include("axios-script")%>
<%- include("index-footer")%>