.App {
  text-align: center;
}

h1 {
  padding: 30px;
}
#card-body {
  display: inline-flex;
  padding: 10px;
  margin: 30px 30px;
  border: 5px solid rgb(93, 171, 207);
  border-radius: 8px;
  background: lightblue;
  
}

