<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script>
  let pageWidth = window.innerWidth
  document.write(`<style>html{font-size:${pageWidth/10}px;}</style>`)
  </script>
  <style>
  .ele{
    width:5rem;   /* 原尺寸360px/根元素font-size72px */
    height:2.5rem;  /* 原尺寸180px/根元素font-size72px */
    background-color: red;
  }
  </style>
</head>
<body>
  <div class="ele"></div>
</body>
</html>