<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js">
  </script>
  <script>
  const wx = window['wx'];
  const url = location.href.split('#')[0];
  fetch('/getWXApiTicket?url=' + encodeURIComponent(url), function(res) {
    if (res.code === 0) {
    }
  })
  </script>
</body>
</html>