.content{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ECECEC;
  
}
.card{
  width: 180px;
  margin: 20px 15px;

}
.ant-card-meta-description {
  color: rgba(0, 0, 0, 0.45);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}