border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

font-size = 14px
font = font-size "Lucida Grande" Arial

body
  font font sans-serif

a.button
  border-radius(5px)

