<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo03</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.0.2/vue.global.js"></script>
</head>
<body>
    <div id="app"></div>
</body>
<script>

    const app = Vue.createApp({
        data() {
            return {
                name: 1
            }
        },
        template:`
        <h2>JSPang.com</h2>
        <Son v-bind:name="name" />
        <Son name="技小胖" />
        `
    })

    app.component('Son',{
    props:['name'],
    template:`<div>{{typeof name}} div </div>`
    })

    const vm= app.mount("#app")
</script>
</html>