<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <img src="" alt="" onerror="alert(1)" onclick="alert(123456)">
  <p onclick="alert(123456)" src="123">点我</p>
  <!-- 广告 -->
  <iframe src="http://www.badu.com" frameborder="0"></iframe>
  xss 演示：
  <%- xss %>
</body>
</html>