<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- <input type="text" v-model='num'>
    <div class="money">{{totalPrice}}</div> -->
    <div class="news">
      <ul>
        <li v-for="list in reverseNews">{{list.title}}--{{list.date}}</li>
      </ul>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data () {
        return {
          price: 10,
          num: 3,
          newsList: [
            {title: '全国各地的梯子遭到我国长城防火墙的禁用', date:'2019/5/31'},
            {title: '韩国瑜：准备承担2020年重担，让鬼混的民进党下台', date:'2019/6/1'},
            {title: '冠心病“救命药”单片涨价近11倍 药企：换了包装', date:'2019/6/2'},
            {title: '长春一天集齐雷电冰雹暴雨：有路段积水漂车，部分航班取消', date:'2019/6/3'}
          ]
        }
      },
      computed: { //computed 的作用主要是对原数据进行改造输出。改造输出：包括格式的编辑，大小写转换，顺序重排，添加符号……。
        // totalPrice () {
        //   return `¥ ${this.price * this.num}`
        // }
        reverseNews () {
          return this.newsList.reverse()
        }
      }
    })
  </script>
</body>
</html>