<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Socket.io</title>
</head>
<body>
  <form action="">
    <input type="text" id="message">
    <button>send</button>
  </form>

  <div id="message-board"></div>

  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io()
    $('form').submit(function() {
      socket.emit('message', $('#message').val()) //触发自定义事件
      $('#message').val('')
      return false
    })
    socket.on('message', function(msg) {
      $('#message-board').append($('<div>').text(msg))
    })
  </script>
</body>
</html>