*{
  margin: 0;
  padding: 0;
}
.container{
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
.subscribe-view{
  margin-top: 3.833rem;
}
.view-nav {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: #fff;
  z-index: 100;
}
.view-nav:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 200%;
  z-index: -1;
}
.view-nav .nav-list {
  width: 960px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
@media (max-width: 980px) {
  .view-nav .nav-list {
    width: auto;
    overflow-x: auto;
  }
}