html,body{
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.active{
  border-color: blue !important;
}
.is_choose{
  background-color: blue;
}
.page{
  width: 100%;
  height: 100%;
  background-color: #F5FAFE;
}
.page__hd{
  background-color: #fff;
  padding-bottom: 20px;
}
.title{
  padding: 15px;
}
.price{
  padding: 0 15px;
}
.mar{
  margin: 0 5px;
}
.item-price{
  /* height:5.5rem; */
  border:1px solid rgba(153,153,153,1);
  border-radius:10px;
  font-family:PingFang-SC-Regular; /*公用样式*/
  line-height: 1;
  text-align: center;
}
.item-price__month{
  margin-top: 1rem;
  font-size: 1rem;
  font-weight:bold;
  color:rgba(51,51,51,1);
}
.item-price__old{
  margin-top: 0.5rem;
  font-size: 0.6rem;
  font-weight:400;
  text-decoration:line-through;
  color:rgba(153,153,153,1);
}
.item-price__new{
  margin-top: 0.75rem;
  font-size: 0.85rem;
  font-weight:bold;
  color:rgba(72,166,253,1);
  margin-bottom: 1rem;
}
.page__ct{
  margin-top: 10px;
  background-color: #fff;
}
.weui-cell__hd{
  width: 1.85rem;
  height: 1.85rem;
}
.weui-cell__hd img{
  display: block;
  width: 100%;
  height: 100%;
}
.weui-cell__bd{
  margin-left: 0.5rem;
}
.weui-cell__bd p{
  font-size: 16px;
  line-height: 1.2;
}
.weui-cell__bd p:nth-child(2){
  font-size: 12px;
  color: #aaa;
}
.price-way{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #aaa;
}
.bottom-border{
  position: relative;
}
.bottom-border::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #eee;
}
.page__bd{
  position: fixed;
  bottom: 1.3rem;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
}
.weui-btn_pay{
  background-color: #2F8EF1;
  border-radius: 30px;
}
#iosDialog2{
  opacity: 0;
  display: none;
}