<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{message}}
    <p class="cool" v-bind:class="{good:isGood}" @click="reverseMsg">{{msg}}</p>
    <!-- <p class="cool" v-bind:class="isGood ? 'good':'bad'">熊哥哥好帅</p> -->
    <!-- <p class="cool" :class="[activeClass]">熊哥哥好帅</p>
    <ul>
      <li v-for="todo in todos">{{todo.text}}</li>
    </ul> -->
    <!-- <p>{{content}}</p>
    <input type="text" v-model="content"> -->
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'hello',
        isGood: false,
        activeClass: 'active',
        todos: [
          {text: '学习vue'},
          {text: '学习js'},
          {text: '学习学习'}
        ],
        content: '',
        msg: '熊哥哥好帅'
      },
      methods: {
        reverseMsg() {
          this.msg = this.msg.split('').reverse().join('')
        }
      }
    })
  </script>
</body>
</html>