<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
  [v-cloak]{
    display: none
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hello Vue.js ! </h1>
    </div>
    <div id="app">
      <table class="table table-hover" v-cloak>
        <thead>
          <tr>
            <th class="text-right" @click="sortBy('id')">序号</th>
            <th class="text-right" @click="sortBy('name')">书名</th>
            <th class="text-right" @click="sortBy('author')">作者</th> 
            <th class="text-right" @click="sortBy('price')">价格</th>
            <th class="text-right" >操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books" :key="book.id">
            <td class="text-right">{{book.id}}</td>
            <td class="text-right">{{book.name}}</td>
            <td class="text-right">{{book.author}}</td>
            <td class="text-right">{{book.price}}</td>
            <template v-if="book.id%2==0">
              <td class="text-right">
                <button type="button" class="btn btn-success" @click="delBook(book)">删除</button>
              </td>
            </template>
            <template v-else>
              <td class="text-right">
                 <button type="button" class="btn btn-danger" @click="delBook(book)">删除</button>     
              </td>
            </template>
          </tr>
          <tr>
            <td class="text-right" colspan="5">
              <h4>总价：{{sum}}</h4>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="add-book">
        <legend>添加书籍</legend>
        <div class="form-group">
          <label>书名</label>
          <input type="text" class='form-control' v-model="book.name">
        </div>
         <div class="form-group">
          <label>作者</label>
          <input type="text" class='form-control' v-model="book.author">
        </div>
         <div class="form-group">
          <label>价格</label>
          <input type="number" class='form-control' v-model="book.price">
        </div>
         <button class="btn btn-primary btn-block" @click="addBook()">添加</button>
      </div>
    </div>
  </div>
  <script>
  var app = new Vue({
    el:"#app",
    computed:{
      sum:function(){
        var result = 0;
        return this.books.map(book => book.price)
        .reduce((total, cur) => {
          return total + Number(cur);
        }, 0)
        // for (var i=0;i<this.books.length;i++){
        //   result += Number(this.books[i].price)
        // };

        return result;
      }
    },
    data() {
      return {
        book:{
          id:0,
          author:'',
          name:'',
          price:''
        },
        sortparam:'',
        books: [{
          id: 1,
          author: '曹雪芹',
          name: '红楼梦',
          price: 32.0
        }, {
          id: 2,
          author: '施耐庵',
          name: '水浒传',
          price: 30.0
        }, {
          id: 3,
          author: '罗贯中',
          name: '三国演义',
          price: 24.0
        }, {
          id: 4,
          author: '吴承恩',
          name: '西游记',
          price: 20.0
        }]
      }
    },
    methods: {
      sortBy(sortparam) {
        this.sortparam = sortparam;
        console.log(sortparam);
        this.books.sort(function(a, b) {
          let aVal = a[sortparam],
            bVal = b[sortparam];
          if (typeof aVal == 'number' && typeof bVal == 'number') {
            return aVal - bVal;
          } else {
            return aVal.charCodeAt(0)- bVal.charCodeAt(0)   
          }
        })
      },
      delBook(book) {
        // this.books.remove(book);
        this.books = this.books.filter(item => item !== book)
      },
      addBook () {
        this.book.id = this.books.length +1;
        this.books.push(this.book);
        this.book = '';
      }
    }
  })
  </script>
</body>
</html>