.tqb-date-picker .tqb-dp-header
  background-color white

  h3
    text-align center
    line-height header-height - 1px
    font-size 1.2em
    font-weight normal
    margin 0

  button
    position absolute
    top 0
    background-color white
    border none
    color gray
    padding 0
    height header-height - 1px
    line-height header-height - 1px
    width 3em

    &:first-child
      left 0
      background url(../img/chevron-left.svg) .9em center no-repeat
      background-size 1.2em

    &.tqb-dp-confirm-button
      right 0
      font-size 1em
      width 60px