@import "./navbar"
@import "./hero"
@import "./carousel"
@import "./card";
@import "./sidebar";


$page-backgroud=#f8f8f8
$font='PingFangSC-Light'

body {
  background $page-backgroud
  font-family $font
}